@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 166 60% 5%;
    --card: 0 0% 100%;
    --card-foreground: 166 60% 5%;
    --popover: 0 0% 100%;
    --popover-foreground: 166 60% 5%;
    --primary: 166 62% 44%;
    --primary-foreground: 170 18% 98%;
    --secondary: 166 40% 96%;
    --secondary-foreground: 167 53% 35%;
    --muted: 166 20% 96%;
    --muted-foreground: 167 20% 40%;
    --accent: 166 62% 44%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 166 20% 90%;
    --input: 166 20% 90%;
    --ring: 166 62% 44%;
    --radius: 1.25rem;
  }

  .dark {
    --background: 166 40% 5%;
    --foreground: 170 18% 98%;
    --card: 166 35% 8%;
    --card-foreground: 170 18% 98%;
    --popover: 166 35% 8%;
    --popover-foreground: 170 18% 98%;
    --primary: 166 62% 44%;
    --primary-foreground: 170 18% 98%;
    --secondary: 166 30% 15%;
    --secondary-foreground: 166 62% 64%;
    --muted: 166 30% 15%;
    --muted-foreground: 166 30% 65%;
    --accent: 166 62% 44%;
    --accent-foreground: 170 18% 98%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;
    --border: 166 30% 18%;
    --input: 166 30% 18%;
    --ring: 166 62% 44%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Inter', sans-serif;
  }
}